
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@{ 
    Html.RenderPartial("SlideEasy");
    Html.RenderPartial("Product_Sale");
}

@model List<an_phat.Data.Image>


<div class="container">
    @foreach (var item in Model)
    {
        <img src="@item.url" />
        
     }
</div>