
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @{ 
     Html.RenderPartial("SlideEasy");
 }
@model IEnumerable<an_phat.Models.ProductModelView>


<div class="container">
  @foreach (var item in Model )
  {
      @item.ImageUrl<br />

      @item.ProductName<br />
  }
</div>