
.protect-icon {
    height: 80px;
    border: solid 2px #000000;
    display: block;
    float: left;
    width: 360px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-right: 10px;
}

    .protect-icon:hover {
        background-color: #CE0707;
        color: #ffffff;
        border: none;
        outline: 1px solid #ffffff;
        outline-offset: -7px;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anh-slide {
    position: relative;
    width: 794px;
    height: 365px;
}

._1slide {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 365px;
    width: 794px;
    opacity: 0;
    visibility: hidden;
}

.header {
    position: relative;
    margin-top: 20px;
}

.slider {
    position: relative;
    width: 794px;
    height: 415px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}

.prev {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 40px;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
}

.next {
    position: absolute;
    top: 40%;
    right: 0%;
    z-index: 4;
    opacity: 0;
    visibility: hidden
}

.nut-slide ul {
    overflow: hidden;
    width: 1798px;
    position: absolute;
}

.active {
    opacity: 1;
    visibility: visible;
}

.nut-slide li {
    list-style: none;
    float: left;
    width: 198px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    border-right: 1px solid white;
    font-weight: bold;
    margin-right: 1px;
}

._1slide.active {
    opacity: 1;
    visibility: visible;
}

.nut-slide li.do {
    background-color: red;
}

.content {
    float: right;
    position: absolute;
    top: 0px;
    left: 798px;
}
/* Hiệu ứng */
.slider:hover .prev {
    animation: di-vao-ben-phai 0.1s forwards;
}

@-webkit-keyframes di-vao-ben-phai {
    0% {
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }

    100% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }
}

.slider:hover .next {
    animation: di-vao-ben-trai 0.1s forwards;
}

@-webkit-keyframes di-vao-ben-trai {
    0% {
        right: -100%;
        visibility: hidden;
        opacity: 0;
    }

    100% {
        right: 0%;
        visibility: visible;
        opacity: 1;
    }
}

._1slide.troi-sang-trai {
    animation: troi-sang-trai 0.1s forwards;
}

@-webkit-keyframes troi-sang-trai {
    0% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }

    100% {
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }
}

._1slide.vao-ben-phai {
    animation: vao-ben-phai 0.1s forwards;
}

@-webkit-keyframes vao-ben-phai {
    0% {
        left: 100%;
        visibility: hidden;
        opacity: 0;
    }

    100% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }
}

._1slide.troi-sang-phai {
    animation: troi-sang-phai 0.1s forwards;
}

@-webkit-keyframes troi-sang-phai {
    0% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }

    100% {
        left: 100%;
        visibility: hidden;
        opacity: 0;
    }
}

._1slide.vao-ben-trai {
    animation: vao-ben-trai 0.1s forwards;
}

@-webkit-keyframes vao-ben-trai {
    0% {
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }

    100% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }
}

.chuyen-slide.di-chuyen-sang-trai {
    animation: di-chuyen-sang-trai 0s forwards;
}

@-webkit-keyframes di-chuyen-sang-trai {
    0% {
        left: 0%;
    }

    100% {
        left: -796px;
    }
}

.chuyen-slide.di-chuyen-sang-phai {
    animation: di-chuyen-sang-phai 0 forwards;
}

@-webkit-keyframes di-chuyen-sang-phai {
    0% {
        left: -796px;
    }

    100% {
        left: 0;
    }
}



body {
    font-size: 12px;
    font-family: 'Roboto',arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    background: #f0eded;
    margin: 0;
    padding: 0;
}

#introduce {
    display: block;
    background: #f0eded;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

    #introduce a {
        text-decoration: #ce0707;
    }

        #introduce a:hover {
            color: #ce0707;
        }

.view-mobile {
    color: #ce0707;
    border: solid 1px #ce0707;
    margin-top: 17px;
    padding: 10px 15px;
    line-height: 36px;
    height: 36px;
    border-radius: 5px;
}

footer a {
    text-decoration: none;
}

.infomation {
    font-size: 12px;
}

.infomation {
    display: block;
    overflow: hidden;
    color: #333;
    overflow: hidden;
    margin-bottom: 8px;
    text-decoration: none;
}

    .infomation a:hover {
        color: #ce0707;
    }

    .infomation a i {
        vertical-align: middle;
    }

.red {
    color: red;
    font-size: 14px;
}

#footer .infomation .icon .fa {
    font-size: 30px;
    vertical-align: middle;
}

.fa-facebook-square {
    color: #485894;
}

.fa-youtube {
    color: #ce0707;
}

.title-box-center {
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-right: 10px;
    border-bottom: solid 2px #ce0707;
    margin-top: 30px;
}

    .title-box-center .h-title {
        float: left;
        color: #fff;
        padding-left: 15px;
        line-height: 39px;
        background: url(/Images/login/bg_title_box_2019.png) right top;
        padding-right: 40px;
    }

    .title-box-center h2 {
        margin: 0;
        padding: 0 10px;
        font-size: 17px;
    }

.login-right a {
    color: #ce0707;
    text-decoration: none;
}

    .login-right a:hover {
        color: none;
    }

.notification {
    display: block;
    margin-top: 30px;
}

#login {
    display: block;
    overflow: hidden;
}

.email-notifi {
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    background: #fff;
    width: 480px;
    margin-top: 20px;
}

    .email-notifi input {
        height: 35px;
        width: 300px;
        padding: 0 10px;
        outline: none;
        border: none;
        background: #fff;
        border-radius: 3px;
        margin-right: 10px;
    }

    .email-notifi .fa-long-arrow-right {
        float: right;
        margin-top: 10px;
        vertical-align: middle;
    }

    .email-notifi a:hover {
        color: none;
    }

p.pass {
    display: inline-block;
    margin-right: 40px;
}

p.mail {
    display: inline-block;
}

.form-login {
    display: block;
    margin-top: 20px;
}

.forgot {
    display: block;
    margin-left: 115px;
}

.but-login input {
    border: 0;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    background: #db0006;
    color: #fff;
    margin: 0;
    font-weight: 700;
    border-radius: 3px;
    padding: 5px 15px;
}

.but-login a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

    .but-login a:hover {
        color: #db0006;
    }

.with-gmail {
    display: inline-block;
    margin-top: 20px;
}

.with-fb {
    display: inline-block;
    margin-top: 20px;
}

    .with-fb img {
        border: none;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

#navtop {
    background-color: #F2F2F2;
    font-size: 12px;
    color: #555555;
}

    #navtop a:hover {
        color: #ce0707;
    }



#navheader {
    background-color: #ce0707;
}


.iconnav {
    font-size: 20px;
    color: aqua;
}

#text_search {
    border: none;
    float: left;
    outline: none;
}

#btnsearch {
    background-color: white;
    border: none;
    border-radius: unset;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdownctn {
    display: none;
    position: absolute;
    z-index: 10;
    background: #0488ed;
    color: #fff;
    border: none;
}

.header-nav {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

#register {
    margin-top: 20px;
}

.register-lerft p {
    margin-bottom: 15px;
    font-size: 14px;
}


form {
    float: left;
    width: auto;
    height: auto;
    margin-top: 8px;
    margin-left: 9px;
    vertical-align: middle;
    font-size: 14px;
}

.input {
    display: block;
}

    .input input {
        width: 300px;
        height: 25px;
        padding-left: 5px;
        border: solid 1px #ddd;
        background-color: #fff;
    }

        .input input[type="radio"] {
            width: 12px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }

    .input p {
        display: inline;
        font-size: 14px;
        vertical-align: middle;
        margin-right: 5px;
    }

    .input span {
        color: #ff0000;
        font-size: 20px;
        vertical-align: middle;
    }

.gender {
    height: 25px;
    border: none;
    background: none;
    outline: none;
    background-color: #fff;
}

#fixed-banner {
    position: fixed;
    left: 0;
    right: 0;
    top: 204px;
    margin: auto;
    z-index: 99999;
    width: 100%;
}

    #fixed-banner .fixed-left {
        position: absolute;
        left: 15px;
    }

    #fixed-banner a {
        color: #333;
        text-decoration: none;
    }

    #fixed-banner img {
        width: 110px;
        border: none;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    #fixed-banner .fixed-right {
        position: absolute;
        right: 15px;
    }

#fixed-cart {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: #546ce8;
    border-radius: 50%;
    text-align: center;
    display: block;
}

#count-shoping-cart {
    display: block;
    color: #fff;
    margin-top: 6px;
    margin-bottom: -8px;
    font-size: 16px;
}

.cart-img {
    background-position: -82px -177px;
    margin-left: -19px;
    display: inline-block;
    vertical-align: middle;
}

    .cart-img img {
        width: 48px;
        height: 36px;
        margin-left: 14px;
    }

.register-right input[type=submit] {
    width: 120px;
}

.register-right input {
    display: inline;
    margin-bottom: 5px;
}

.register-lerft p {
    margin-bottom: 19px;
}





.arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 25px solid #CE0707;
    border-bottom: 20px solid transparent;
    left: 229px;
    top: 0px;
    z-index: 9;
}


.protect-icon {
    height: 80px;
    border: solid 2px #000000;
    display: block;
    float: left;
    width: 366px;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.icon1 {
    position: absolute;
    left: 185px;
}

.icon2 {
    position: absolute;
    left: 585px;
}

.icon3 {
    position: absolute;
    right: 185px;
}

.protect-icon:hover {
    background-color: #CE0707;
    color: #ffffff;
    border: none;
    outline: 1px solid #ffffff;
    outline-offset: -7px;
}



.login-form {
    background-color: #F0EDED;
    font-size: 14px;
}

#email {
    height: 25px;
    width: 338px;
    margin-bottom: 10px;
    background-color: #fff;
}

#password {
    height: 25px;
    width: 338px;
    margin-bottom: 10px;
    background-color: #fff;
}

.btn_red {
    width: 100px;
    height: 32px;
    color: #ffffff;
    font-weight: bold;
    background-color: #DB0006;
    margin-left: 10px;
    border-radius: 3px;
}

    .btn_red:hover {
        background-color: gray;
    }

.forget-pass {
    line-height: 32px;
    color: #333333;
}

    .forget-pass:hover {
        color: #CE0707;
    }

body {
    font-size: 13px;
    font-family: 'Roboto',arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


h3 {
    font-size: 14px;
    font-weight: bold;
}

.address {
    color: #DB0006;
    cursor: pointer;
}

.infomation a {
    display: block;
    overflow: hidden;
    color: #333;
    overflow: hidden;
    margin-bottom: 8px;
    text-decoration: none;
    margin-right: -15px;
}

    .infomation a:hover {
        color: #ce0707;
    }

    .infomation a i {
        vertical-align: middle;
    }

.red {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

#footer .infomation .icon .fa {
    font-size: 30px;
    vertical-align: middle;
}

.fa-facebook-square {
    color: #485894;
}

.fa-youtube {
    color: #ce0707;
}

.title-box-center {
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-right: 10px;
    border-bottom: solid 2px #ce0707;
    margin-top: 30px;
}

    .title-box-center .h-title {
        float: left;
        color: #fff;
        padding-left: 15px;
        line-height: 39px;
        background: url(/Images/login/bg_title_box_2019.png) right top;
        padding-right: 40px;
        font-weight: bold;
    }

    .title-box-center h2 {
        margin: 0;
        padding: 0 10px;
        font-size: 17px;
    }

.login-right a {
    color: #ce0707;
    text-decoration: none;
}

    .login-right a:hover {
        color: none;
    }

.notification {
    display: block;
    margin-top: 30px;
}

#login {
    display: block;
    overflow: hidden;
}

.email-notifi {
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    background: #fff;
    width: 480px;
    margin-top: 20px;
}

    .email-notifi input {
        height: 35px;
        width: 300px;
        padding: 0 10px;
        outline: none;
        border: none;
        background: #fff;
        border-radius: 3px;
        margin-right: 10px;
    }

    .email-notifi .fa-long-arrow-right {
        float: right;
        vertical-align: middle;
    }

    .email-notifi a:hover {
        color: none;
    }

p.pass {
    display: inline-block;
    margin-right: 40px;
}

p.mail {
    display: inline-block;
}

.form-login {
    display: block;
    margin-top: 20px;
}

.forgot {
    display: block;
    margin-left: 115px;
}

.but-login input {
    border: 0;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    background: #db0006;
    color: #fff;
    margin: 0;
    font-weight: 700;
    border-radius: 3px;
    padding: 5px 15px;
}

.but-login a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

    .but-login a:hover {
        color: #db0006;
    }

.with-gmail {
    display: inline-block;
    margin-top: 20px;
}

.with-fb {
    display: inline-block;
    margin-top: 20px;
}

    .with-fb img {
        border: none;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

#navtop {
    height: 46px;
    width: 100%;
    background-color: #F2F2F2;
    font-size: 12px;
}

.navtop_list {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


#navtop a:hover {
    color: #ce0707;
}

.navtop_item {
    list-style: none;
    display: flex;
    line-height: 35px;
}

.nav-img {
    width: 30px;
    height: 30px;
}

.nav-link {
    color: #555555;
    font-weight: bold;
}

#navheader {
    background-color: #ce0707;
}

.navbar-nav {
    display: block;
    line-height: 46px;
    line-height: 38px;
}

.nav-item {
    padding-right: 15px;
}

.nav-link > a {
    color: #474747;
}

#dropdownctn {
    display: none;
    position: absolute;
    background: #0488ed;
    color: #fff;
    border: none;
}

.header-nav {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

#register {
    margin-top: 20px;
}

.register-lerft p {
    margin-bottom: 15px;
}

.register-right {
}

    .register-right input {
        display: block;
        margin-bottom: 10px;
        width: 280px;
    }

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}


.container2 {
    width: 100%;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0px 2px 3px 0px #e1e1e1;
    vertical-align: middle;
    margin-bottom: 10px;
}

.header__navbar-list {
    display: flex;
    justify-content: center;
}

.header__navbar-item {
    display: inline-block;
}

.title-menu {
    color: #ce0700;
    margin-right: 32px;
    padding-top: 10px;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

.menu-address {
    font-size: 14px;
    margin-left: 16px;
    margin-right: 10px;
    padding-top: 12px;
}

.menu-img {
    position: relative;
}

.menu-img__number {
    cursor: pointer;
    position: absolute;
    color: #ffe401;
    font-weight: BOLD;
    font-size: 15px;
    left: 120px;
    top: 27%;
}

.header__navbar-pulse {
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-top: 18px;
}

    .header__navbar-pulse::before,
    .header__navbar-pulse::after {
        content: "";
        display: block;
        position: absolute;
        border: 3px solid #ff0000;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
    }

@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.4);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

.header__navbar-pulse1 {
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 18px;
    position: relative;
    left: 25.5px;
    top: 21.5px;
}

    .header__navbar-pulse1::before,
    .header__navbar-pulse1::after {
        content: "";
        position: absolute;
        border: 3px solid #ffffff;
        background-color: rgba(238,46,36,.2);
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: animate1 1.3s linear infinite;
    }

@keyframes animate1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.4);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

.container3 {
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px #e1e1e1;
}

.nav_vertical {
    width: 1170px;
    margin: 0 auto;
}

.ul__menu {
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

.nav_vertical > .ul__menu > .ul__menu-list {
    display: inline-block;
    margin-left: 5px;
}

.icon-link {
    display: block;
    text-align: center;
}

.nav_vertical > .ul__menu > .ul__menu-list > .item > .icon-link > img {
    max-width: 55px;
    width: auto;
    height: 20px;
    font-size: 12px;
    text-align: center;
}


.nav_vertical > .ul__menu > .ul__menu-list > .item > .sub {
    font-size: 12px;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}


.nav_vertical > .ul__menu > .ul__menu-list:hover a.sub {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
}

.menu {
    flex-wrap: wrap;
    width: 1170px;
    display: flex;
    position: absolute;
    font-size: 12px;
    box-shadow: 0.2px 9px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    display: none;
    left: 20%;
    text-decoration: none;
}

.ul__menu :hover .menu {
    display: flex;
    background-color: #ffffff;
    z-index: 999;
    text-decoration: none;
}

.submenu {
    display: block;
    padding-left: 10px;
    color: #000000;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 160px;
}

.submenu-item {
    display: block;
    margin-top: 15px;
    margin-right: -1px;
}

.sub1 {
    color: #d00;
    color: none;
    font-size: 12px;
}

.sub2 {
    color: #000000;
    display: block;
    max-width: 156px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
}

.submenu-item :hover {
    color: #ce0700;
}

.header_logo {
    width: 100%;
    background-color: #CE0707;
    height: 90px;
}

.container_logo {
    height: 90px;
    width: 1170px;
    background-color: #CE0707;
    line-height: 90px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.form-search {
    float: left;
    width: 530px;
    height: 42px;
    margin-top: 24px;
    margin-left: 30px;
    background: #fff;
    vertical-align: middle;
}

form select {
    margin: 2px;
    outline: none;
    border: none;
    float: left;
    height: 20px;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}


form input {
    width: 280px;
    height: 25px;
    border: none;
    margin-right: 10px;
    background: none;
    float: left;
    outline: none;
    margin-left: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.choose_gender {
    line-height: 30px;
}

.gender_tab {
    margin-right: 35px;
}

.gender-navbar {
    padding-left: 10px;
    display: flex;
    float: left;
}

input.gender {
    margin-right: 5px;
    height: 20px;
}

.gender {
    width: 12px;
    padding-right: 3px;
    margin-right: 10px;
}



input#gender {
    width: 100px !important;
}


.but-search {
    float: right;
    margin-top: -25px;
}

.info {
    padding-left: 10px;
}



#header-right a {
    display: block;
    color: #fff;
    text-align: center;
    float: left;
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
}

.icon-header {
    height: 35px;
    width: 70px;
}

#header-right {
    line-height: 63px;
}


#main {
    background: #f0eded;
    margin: 0;
    padding: 0;
}

#introduce {
    display: block;
    background: #f0eded;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

    #introduce a {
        text-decoration: #ce0707;
    }

        #introduce a:hover {
            color: #ce0707;
        }

.view-mobile {
    color: #ce0707;
    border: solid 1px #ce0707;
    margin-top: 17px;
    padding: 10px 15px;
    line-height: 36px;
    height: 36px;
    border-radius: 5px;
}

footer a {
    text-decoration: none;
}

.infomation {
    font-size: 12px;
}

.infomation {
    display: block;
    overflow: hidden;
    color: #333;
    overflow: hidden;
    margin-bottom: 8px;
    text-decoration: none;
}

    .infomation a:hover {
        color: #ce0707;
    }

    .infomation a i {
        vertical-align: middle;
    }

.red {
    color: red;
    font-size: 14px;
}

#footer .infomation .icon .fa {
    font-size: 30px;
    vertical-align: middle;
}

.fa-facebook-square {
    color: #485894;
}

.fa-youtube {
    color: #ce0707;
}

.title-box-center {
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-right: 10px;
    border-bottom: solid 2px #ce0707;
    margin-top: 30px;
}

    .title-box-center .h-title {
        float: left;
        color: #fff;
        padding-left: 15px;
        line-height: 39px;
        background: url(/Images/login/bg_title_box_2019.png) right top;
        padding-right: 40px;
    }

    .title-box-center h2 {
        margin: 0;
        padding: 0 10px;
        font-size: 17px;
    }

.login-right a {
    color: #ce0707;
    text-decoration: none;
}

    .login-right a:hover {
        color: none;
    }

.notification {
    display: block;
    margin-top: 30px;
}

#login {
    display: block;
    overflow: hidden;
}

.email-notifi {
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    background: #fff;
    width: 480px;
    margin-top: 20px;
}

    .email-notifi input {
        height: 35px;
        width: 300px;
        padding: 0 10px;
        outline: none;
        border: none;
        background: #fff;
        border-radius: 3px;
        margin-right: 10px;
    }

    .email-notifi .fa-long-arrow-right {
        float: right;
        margin-top: 10px;
        vertical-align: middle;
    }

    .email-notifi a:hover {
        color: none;
    }

p.pass {
    display: inline-block;
    margin-right: 40px;
}

p.mail {
    display: inline-block;
}

.form-login {
    display: block;
    margin-top: 20px;
}

.forgot {
    display: block;
    margin-left: 115px;
}

.but-login input {
    border: 0;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    background: #db0006;
    color: #fff;
    margin: 0;
    font-weight: 700;
    border-radius: 3px;
    padding: 5px 15px;
}

.but-login a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

    .but-login a:hover {
        color: #db0006;
    }

.with-gmail {
    display: inline-block;
    margin-top: 20px;
}

.with-fb {
    display: inline-block;
    margin-top: 20px;
}

    .with-fb img {
        border: none;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

#navtop {
    background-color: #F2F2F2;
    font-size: 12px;
    color: #555555;
}

    #navtop a:hover {
        color: #ce0707;
    }



#navheader {
    background-color: #ce0707;
}


.iconnav {
    font-size: 20px;
    color: aqua;
}

#text_search {
    border: none;
    float: left;
    outline: none;
}

#btnsearch {
    background-color: white;
    border: none;
    border-radius: unset;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdownctn {
    display: none;
    position: absolute;
    z-index: 10;
    background: #0488ed;
    color: #fff;
    border: none;
}

.header-nav {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

#register {
    margin-top: 20px;
}

.register-lerft p {
    margin-bottom: 15px;
    font-size: 14px;
}


form {
    float: left;
    width: auto;
    height: auto;
    margin-top: 8px;
    margin-left: 9px;
    vertical-align: middle;
    font-size: 14px;
}

.input {
    display: block;
}

    .input input {
        width: 300px;
        height: 25px;
        padding-left: 5px;
        border: solid 1px #ddd;
        background-color: #fff;
    }

        .input input[type="radio"] {
            width: 12px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }

    .input p {
        display: inline;
        font-size: 14px;
        vertical-align: middle;
        margin-right: 5px;
    }

    .input span {
        color: #ff0000;
        font-size: 20px;
        vertical-align: middle;
    }

.gender {
    height: 25px;
    border: none;
    background: none;
    outline: none;
    background-color: #fff;
}

#fixed-banner {
    position: fixed;
    left: 0;
    right: 0;
    top: 204px;
    margin: auto;
    z-index: 99999;
    width: 100%;
}

    #fixed-banner .fixed-left {
        position: absolute;
        left: 15px;
    }

    #fixed-banner a {
        color: #333;
        text-decoration: none;
    }

    #fixed-banner img {
        width: 110px;
        border: none;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    #fixed-banner .fixed-right {
        position: absolute;
        right: 15px;
    }

#fixed-cart {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: #546ce8;
    border-radius: 50%;
    text-align: center;
    display: block;
}

#count-shoping-cart {
    display: block;
    color: #fff;
    margin-top: 6px;
    margin-bottom: -8px;
    font-size: 16px;
}

.cart-img {
    background-position: -82px -177px;
    margin-left: -19px;
    display: inline-block;
    vertical-align: middle;
}

    .cart-img img {
        width: 48px;
        height: 36px;
        margin-left: 14px;
    }

.register-right input[type=submit] {
    width: 120px;
}

.register-right input {
    display: inline;
    margin-bottom: 5px;
}

.register-lerft p {
    margin-bottom: 19px;
}



.container4 {
    width: 1170px;
    height: 40px;
    display: flex;
    background-color: #F8E5E4;
    margin: 0 auto;
    margin-top: 20px;
    /* color: #89807F: */
}

.title4 {
    height: 40px;
    width: 285px;
    background-color: #CE0707;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.marquee {
    width: 100%;
    float: right;
    line-height: 40px;
    font-size: 14px;
    color: #89807F;
}

.arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 25px solid #CE0707;
    border-bottom: 20px solid transparent;
    left: 229px;
    top: 0px;
    z-index: 9;
}

.container5 {
    height: 100px;
    width: 100%;
    background-color: #F0EDED;
    line-height: 80px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
    font-family: 'Roboto',arial,Helvetica,sans-serif;
}



.icon1 {
    position: absolute;
    left: 185px;
}

.icon2 {
    position: absolute;
    left: 585px;
}

.icon3 {
    position: absolute;
    right: 185px;
}

.protect-icon:hover {
    background-color: #CE0707;
    color: #ffffff;
    border: none;
    outline: 1px solid #ffffff;
    outline-offset: -7px;
}



.login-form {
    background-color: #F0EDED;
    font-size: 14px;
}

#email {
    height: 25px;
    width: 338px;
    margin-bottom: 10px;
    background-color: #fff;
}

#password {
    height: 25px;
    width: 338px;
    margin-bottom: 10px;
    background-color: #fff;
}

.btn_red {
    width: 100px;
    height: 32px;
    color: #ffffff;
    font-weight: bold;
    background-color: #DB0006;
    margin-left: 10px;
    border-radius: 3px;
}

    .btn_red:hover {
        background-color: gray;
    }

.forget-pass {
    line-height: 32px;
    color: #333333;
}

    .forget-pass:hover {
        color: #CE0707;
    }
