<div class="container5">
    <div class="container">
        <a href="#" class="protect-icon icon1"><i class="fas fa-shipping-fast">  GIAO HÀNG MIỄN PHÍ</i></i></a>
        <a href="#" class="protect-icon icon2"><i class="fas fa-credit-card">  THANH TOÁN LINH HOẠT</i></a>
        <a href="#" class="protect-icon icon3"><i class="fas fa-user-shield">  BẢO HÀNH TẠI NƠI SỬ DỤNG</i></a>
    </div>
</div>