<footer>
    <div id="footer" class="container-fluid">
        <!-- footer information -->
        <div class="infomation container">
            <div class="col col-sm-3">
                <h3><span class="red">Thông tin chung</span></h3>
                <a href="#">Giới thiệu </a>
                <a href="#">Tin Tức</a>
                <a href="#">Liên Hệ</a>
                <a href="#">Khách hàng doanh nghiệp</a>
                <a href="#">Xây dựng cấu hình PC</a>
            </div>
            <div class="col col-sm-3">
                <h3><span class="red">Quy định & chính sách</span></h3>
                <a href="#">Hỗ trợ mua hàng online</a>
                <a href="#">Hướng dẫn mua hàng online</a>
                <a href="#">Chính sách giao hàng</a>
                <a href="#">Bảo hành đổi trả</a>
                <a href="#">Chính sách bảo mật</a>
                <a href="#">hình thức thanh toán</a>
                <a href="#">Chính sách bảo hành tại nhà</a>
                <a href="#">Chính sách game net</a>
            </div>
            <div class="col col-sm-2 icon">
                <h3><span class="red">Cộng đồng </span></h3>
                <a href="#">
                    <i class="fa fa-facebook-square"></i>
                    Facebook
                </a>
                <a href="#">
                    <i class="fa fa-youtube"></i>
                    Youtube
                </a>
                <a href="#">
                    <i class="fa fa-headphones"></i>
                    Group Gaming An Phát
                </a>
            </div>
            <div class="col col-sm-4">
                <h3><span class="red">Tổng đài hỗ trợ </span></h3>
                <p><i class="fa fa-phone"></i> <b>KD online</b>: 1900.0323 phím 1</p>
                <p><i class="fa fa-phone"></i> <b>KD 49 Thái Hà - HN</b>: 1900.0323 phím 6</p>
                <p><i class="fa fa-phone"></i> <b>KD 151 Lê Thanh Nghị - HN</b>: 1900.0323 phím 4</p>
                <p><i class="fa fa-phone"></i> <b>KD 158-160 Lý Thường Kiệt - TPHCM</b>: 1900.0323 phím 2</p>
                <p><i class="fa fa-phone"></i> <b>KD Trần Đình Xu - HCM</b>: 1900.0323 phím 3</p>
                <p><i class="fa fa-phone"></i> <b>KD dự án doanh nghiệp</b>: 1900.0323 phím 5</p>
                <p><i class="fa fa-phone"></i> <b>Kỹ thuật - Bảo hành Hà Nội</b>: 1900.0323 phím 8</p>
                <p><i class="fa fa-phone"></i> <b>Kỹ thuật - Bảo hành HCM</b>: 1900.0323 phím 9</p>
                <p><i class="fa fa-phone"></i> <b>Chăm sóc khách hàng</b>: 1900.0323 phím 0</p>
                <p><i class="fa fa-phone"></i> <b>Góp ý - khiếu nại</b>: 0904.316.386</p>
                <p> <i class="fa fa-phone"></i> <b>Email</b>: dung@anphatpc.com.vn</p>
            </div>
        </div>
        <!-- footer show room  -->
        <div class="container show-rooom">
            <div class="col-sm-4 ">
                <h3><span class="red"> Showroom </span>Lê Thanh Nghị - HN </h3>
                <p>✓ Địa chỉ: <b>151 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</b></p>
                <p>✓ Điện thoại: <b>1900.0323 phím 4</b></p>
                <p>✓ Hotline: <b>0977.270.710 hoặc 0937.182.886</b></p>
                <p>✓ Email: <b>co@anphatpc.com.vn</b></p>
                <p class="address">✓ [ Xem đường đi ]</p>
            </div>
            <div class="col-sm-4 ">
                <h3><span class="red"> Showroom</span> Lý Thường Kiệt - TPHCM </h3>
                <p>✓ Địa chỉ: <b>158 - 160 Lý Thường Kiệt P.14 - Q.10 - TPHCM</b></p>
                <p>✓ Điện thoại: <b>1900.0323 phím 2 hoặc 028.3838.6569</b></p>
                <p>✓ Hotline: <b>0917.948.081 hoặc 098.314.9885</b></p>
                <p>✓ Email: <b>loan@anphatpc.com.vn</b></p>
                <p class="address">✓ [ Xem đường đi ]</p>
            </div>
            <div class="col-sm-4 ">
                <h3><span class="red">Trung Tâm </span>Phân Phối  </h3>
                <p>✓ Địa chỉ: <b>144 Trung Liệt - Đống Đa - Hà Nội</b></p>
                <p>✓ Điện thoại: <b>0243.563.7003</b></p>
                <p>✓ Hotline: <b>0912.150.479</b></p>
            </div>
        </div>
        <!-- footer show room 2  -->

        <div class="container show-rooom">
            <div class="col-sm-4 ">
                <h3><span class="red"> Showroom </span>Thái Hà- HN </h3>
                <p>✓ Địa chỉ: <b>49 Thái Hà - Đống Đa - Hà Nội</b></p>
                <p>✓ Điện thoại: <b>1900.0323 phím 6</b></p>
                <p>✓ Hotline: <b>0977.270.710 hoặc 0937.182.886</b></p>
                <p>✓ Email: <b>Hoangphuong@anphatpc.com.vn</b></p>
                <p class="address">✓ [ Xem đường đi ]</p>
            </div>
            <div class="col-sm-4 ">
                <h3><span class="red"> Showroom</span> Trần Đình Xu- TPHCM </h3>
                <p>✓ Địa chỉ: <b>84T/14 Trần Đình Xu-P.Cô Giang-Q.1-TPHCM</b></p>
                <p>✓ Điện thoại: <b>1900.0323 phím 3 hoặc 028.3838 6576</b></p>
                <p>✓ Hotline: <b>0918.858.797 hoặc 0909.143.970</b></p>
                <p>✓ Email: <b>thaohtt@anphatpc.com.vn</b></p>
                <p class="address">✓ [ Xem đường đi ]</p>
            </div>
            <div class="col-sm-4 ">
                <h3><span class="red">Trung Tâm Phân Phối Dự Án Doanh Nghiệp</span> - HCM </h3>
                <p>✓ Địa chỉ: <b>84T/14 Trần Đình Xu-P.Cô Giang-Q.1-TPHCM</b></p>
                <p>✓ Điện thoại: <b>1900.0323 phím 3</b></p>
                <p>✓ Hotline: <b>0901.118.414 hoặc 0938.018.048</b></p>
                <p>✓ Email: <b>tuan@anphatpc.com.vn</b></p>
            </div>
        </div>

        <!-- footer help -->
        <div class="container help">
            <div class="col-sm-4">
                <h3><span class="red">Phòng Bán Hàng</span> Trực Tuyến </h3>
                <p>✓ Địa chỉ: <b>49 Thái Hà - Đống Đa - Hà Nội</b></p>
                <p>✓ Điện thoại: <b>1900.0323 phím 1 và 0243.5160.888</b></p>
                <p>✓ Hotline: <b>0986.365.491, 0981.335.989 (8:30 - 21:00)</b></p>
                <p>✓ Email: <b>thao@anphatpc.com.vn</b></p>
            </div>
            <div class="col-sm-4">
                <h3><span class="red"> Hỗ Trợ</span> Khách Hàng </h3>
                <p>✓ Bảo Hành-Hà Nội: <b>Mr Cường - 0964.599.915</b> </p>
                <p>✓ Kỹ Thuật-Hà Nội: <b>0981.961.296</b> hoặc <b>0902.030.408</b> hoặc <b>0972.240.681</b></p>
                <p>✓ Bảo Hành-HCM: <b>19000323 máy lẻ 818 hoặc 0909.144.560</b></p>
                <p>✓ Kỹ Thuật-HCM: <b>19000323 máy lẻ 840 hoặc 0909.144.560</b></p>
                <p>✓ Máy Chấm Công: <b>Mr Hưng - 0936.164.114</b></p>
            </div>
            <div class="col-sm-4">
                <h3><span class="red"> Trung Tâm Phân Phối Dự Án Doanh Nghiệp </span> - HN </h3>
                <p>✓ Địa chỉ: <b>49 Thái Hà - Đống Đa - Hà Nội</b></p>
                <p>✓ Điện thoại:<b>1900.0323 phím 5</b> </p>
                <p>✓ Hotline:<b>0919.917.001 hoặc 0963.902.552</b> </p>
                <p>✓ Email: <b>huy@anphatpc.com.vn</b></p>
                <p> An Phát Computer</p>
            </div>
        </div>
    </div>
    <div id="introduce">
        <div class="container-fluid">
            <div class="container">
                <p>
                    Công Ty Cổ Phần Thương Mại Máy Tính An Phát - Địa chỉ: số 49 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Thành Phố Hà Nội, Việt Nam.
                </p>
                <p>    
                    Giấy CN đăng ký kinh doanh và mã số thuế: 0108940873 do sở Kế hoạch & Đầu tư thành phố Hà Nội cấp
                </p>
                <a href="http://online.gov.vn/Home/WebDetails/7166?AspxAutoDetectCookieSupport=1">
                    <img src="~/Images/Footer/thong-bao.png" />
                </a>
                <a href="https://www.anphatpc.com.vn/?show_version=mobile" class="view-mobile"> Xem bản mobile </a>
            </div>
        </div>
    </div>
</footer>