@{ Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model an_phat.Models.UserModel
<div class="container" id="login">
    <!--title-->
    <div class="title-box-center wow ">
        <h2 class="h-title"> Đăng nhập </h2>
    </div>
    <!--form login-->

    <div class="form-login">
        <!--form login left-->
        <div class=" col-sm-6 login-left">
            <p>Thông tin khách hàng đăng nhập hệ thống</p>
            @using (Html.BeginForm("Login", "Home"))
            {
                <table class="login-form">
                    <tr id="user">
                        <td class="mail">Email đăng nhập  </td>
                        <td>
                            @Html.TextBoxFor(x => x.UserName, new { @id = "email", @size = "35" })
                            
                            
                        </td>
                    </tr>
                    <tr id="pass">
                        <td><p class="pass">Mật khẩu </p></td>
                        <td>
                            @Html.PasswordFor(x => x.UserPassword, new { @id = "password", @size = "35" })
                           
                            
                        </td>
                    </tr>
                    <!--but login-->
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Đăng nhập" class="btn_red" />
                            <a href="/quen-mat-khau" class="forget-pass">Quên mật khẩu</a>
                        </td>
                    </tr>
                </table>
            }


        </div>
        <!--form login right-->
        <div class="col-sm-6 login-right">
            <b>Bạn chưa là thành viên</b>
            <p>Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.</p>
            <a href="#" class="register"><b>Đăng ký tài khoản</b></a>
        </div>
    </div>
</div>
<!--but forgot-->
<div class="container">
    <div class="forgot">
        <!--logn with -->
        <div class="login-with">
            <div class="with-gmail">
                <a href="#">
                    <img src="~/Images/login/log-in-with-google.jpg" />
                </a>
            </div>
            <div class="with-fb">
                <a href="#">
                    <img src="~/Images/login/log-in-with-facebook.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>