<div class="container" id="login">
    <!--title-->
    <div class="title-box-center wow ">
        <h2 class="h-title"> Đăng nhập </h2>
    </div>
    <!--form login-->
    <div class="form-login">
        <!--form login left-->
        <div class=" col-sm-6 login-left">
            <p>Thông tin khách hàng đăng nhập hệ thống</p>
            <div class="login-form">
                <div id="user">
                    <p class="mail">Email đăng nhập : </p>
                    <input type="text" size="35" name="email" id="email" />
                </div>
                <div id="pass">
                    <div>
                        <p class="pass">Mật khẩu : </p>
                        <input type="password" size="35" name="password" id="password" />
                    </div>
                </div>
            </div>
        </div>
        <!--form login right-->
        <div class="col-sm-6 login-right">
            <b>Bạn chưa là thành viên</b>
            <p>Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.</p>
            <a href="#" class="register">Đăng ký tài khoản</a>
        </div>
    </div>
</div>
<!--but forgot-->
<div class="container">
    <div class="forgot">
        <!--but login-->
        <div class="but-login">
            <input type="submit" value="Đăng nhập" class="but-red" />
            <a href="#" class="but-forgot">Quên mật khẩu</a>
        </div>
        <!--logn with -->
        <div class="login-with">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <div class="with-fb">
                <a onclick="RequestLoginFB()">
                    <img src="~/Images/login/log-in-with-facebook.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>