<header>
    <div class="container">
        <div class="header__navbar-list">
            <div class="title-menu header__navbar-item ">
                <i class="fas fa-bars"></i> DANH MỤC SẢN PHẨM

            </div>
            <div class="header__navbar-item header__navbar-pulse">
                <!-- Start pulse effect-->
            </div><!-- End pulse effect-->
            <div class="menu-address header__navbar-item">
                Hà Nội: 49 Thái Hà và 151 Lê Thanh Nghị TPHCM: 84T/14 Trần Đình Xu và 158 Lý Thường Kiệt
            </div>
            <div class="menu-img header__navbar-item">
                <img src="assets/img/hot-line.png" alt="Hotline">
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="nav_vertical">
            <ul class="ul__menu">
                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_b706c0f50035bddb63ca6e91efef7703.png" alt="Máy tính xách tay - Laptop">
                        </span>
                        <a href="#" class="sub">Máy tính xách tay - Laptop</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Laptop theo hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">MSI GAMING</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">LG</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Dell</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Lenovo</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">HP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Acer</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Apple</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Microsoft Surface</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Fujitsu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGS Imperium</a></li>
                        </ul>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Laptop theo nhu cầu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop Gaming</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop Sinh viên</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop Văn phòng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop nhỏ gọn</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop cảm ứng - 2 trong 1</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop cao cấp</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Laptop Workstation</a></li>
                        </ul>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Linh kiện laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">HDD Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Pin Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Sạc Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím laptop</a></li>
                        </ul>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Phụ kiện Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phụ kiện laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Balo, chống sốc Laptop</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Đế tản nhiệt</a></li>
                        </ul>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy tính bảng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tablets</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phụ kiện Tablets</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Đế tản nhiệt</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_a2e098b9730b13b0f4a5fa64ee45901c.png" alt="Máy tính - Máy chủ">
                        </span>
                        <a href="#" class="sub">Máy tính máy chủ</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu menu2">
                            <li class="submenu-item"><a href="#" class="sub1">Máy tính văn phòng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mini PC (Siêu bé)</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Small Form (Cỡ nhỏ)</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Micro Tower (Cỡ vừa)</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PC lắp ráp</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Giá Rẻ (<9 triệu)</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tầm trung (9 - 15 triệu)</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Cao Cấp (>15 triệu)</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy tính đồng bộ</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">ASUS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">HP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Dell</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">FPT Elead</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Acer </a></li>
                            <li class="submenu-item"><a href="#" class="sub2">IBM-LENOVO</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Intel NUC</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Gygabyte</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy tính All-in-one</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">All In One Dell</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">All In One HP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">All In One Lenovo</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">All In One Apple</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy chủ - Linh kiện</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy chủ - Server</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Linh kiện máy chủ</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Trạm máy Workstation</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">HP Workstation</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Dell Workstation</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Phụ kiện máy tính</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Cable các loại</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phụ kiện khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">PCAP theo giá</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP < 10 triệu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP 10 triệu - 20 triệu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP 20 triệu - 30 triệu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP 30 triệu - 40 triệu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP 40 triệu - 60 triệu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP > 60 triệu</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">PCAP theo nhu cầu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Gaming</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Văn phòng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Live stream</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Đồ hoạ/Workstation</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">PCAP theo hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP ASUS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP GYGABYTE</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP MSI</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Hiệu năng/Giá</a></li>
                        </ul>

                        <ul class="submenu submenu1">
                            <li class="submenu-item"><a href="#" class="sub1">Máy tính Mini</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Apple Mac Mini</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy Workstation lắp ráp theo PCAP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Render video 4K</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">PCAP Render 3DS</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy Workstation, Server Deep Learning</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Deep Learning Workstation 2 GPUs</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Deep Learning Workstation 4 GPUs</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_cf48adbcc24dd52850830b617fdce703.png" alt="Linh kiện máy tính">
                        </span>
                        <a href="#" class="sub">Linh kiện máy tính</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">CPU - Bộ vi xử lý </a></li>
                            <li class="submenu-item"><a href="#" class="sub2">CPU Intel</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">CPU AMD</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">VGA - Card màn hình </a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA RTX 3070</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA RTX 3080</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA RTX 3090</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA GeForce GTX/RTX</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA Leadtek Quadro</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA AMD RX</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA ASUS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA MSI</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA GIGABYTE</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA GALAX</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA Inno3D</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA PNY</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA Colorful</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">VGA PowerColor</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Các dòng VGA khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">PSU - Nguồn máy tính</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn theo hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn chứng nhận 80 Plus<</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn dưới 400W</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn 400W - 500W</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn 500W - 600W</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn 600W - 700W</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn 700W - 800W</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn 800W - 1000W</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Nguồn trên 1000W</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Mainboard</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mainboard cho CPU Intel</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mainboard cho CPU AMD</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mainboard Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mainboard MSI</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mainboard Gigabyte</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mainboard Asrock</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ram - Bộ nhớ trong</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram Corsair</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram Kingston</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram Kingmax</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram GSkill</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram Adata</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram TEAMGROUP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram APACER</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ram PNY</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ổ cứng HDD - SSD</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">HDD - Ổ Cứng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">SSD - Ổ cứng thể rắn</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Case - Vỏ máy tính</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Đồ chơi máy tính</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Thiết bị livestream</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Kính thực tế ảo VR</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Bàn Phím - Chuột</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Máy Tính</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Máy Tính</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bộ bàn phím - chuột</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">ODD - Ổ đĩa quang</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_095cb4be732b3d094b1ad78b0577a33a.jpg" alt="Màn hình máy tính">
                        </span>
                        <a href="#" class="sub">Màn hình máy tính</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Màn hình theo hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Dell</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Samsung</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Viewsonic</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình LG</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình HP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Acer</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Gygabyte</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình MSI</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình AOC</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Lenovo</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình BenQ</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Philips</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình HKC</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình Huntkey</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Màn hình theo nhu cầu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình gaming</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình thiết kế</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình cong</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình IPS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình Ultrawide</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình văn phòng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình USB Type C</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Màn hình theo kích thước</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">17 inch - 21 inch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">22 inch - 24 inch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">25 inch - 27 inch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">28 inch - 32 inch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">32 inch - 49 inch</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tần số quét màn hình</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 60Hz</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 75Hz</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 100Hz</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 120Hz</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 144Hz</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 165Hz</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn Hình 240Hz</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Độ phân giải màn hình</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình HD/HD+</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình Full HD/FHD+</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình 2K QHD</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn hình 4K UHD</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Chân đế màn hình</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_f9fc468337e44b7e6b994b32dc8b8d44.png" alt="TB lưu trữ, nghe nhìn">
                        </span>
                        <a href="#" class="sub">TB lưu trữ, nghe nhìn</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tivi Led - Smart Tivi - Tivi LCD</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Sony</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Samsung</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">LG</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Panasonic</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Loa máy vi tính</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Loa logitech</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Loa SoundMax</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Loa Microlab</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Loa Creative</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Loa hãng khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">TB nghe nhìn</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Webcam</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ổ cứng di động</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ổ cứng di động Western Digital</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ổ cứng di động Seagate</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Phụ Kiện HDD SSD</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bao da chống sốc ổ cứng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Hộp Box Ổ cứng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Dây Cable</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ổ USB Flash</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">USB Kingston</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">USB SanDisk</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">USB hãng khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Thẻ Nhớ - Memory Card</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Sạc dự phòng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Bộ chia USB HUB</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_8a7100a2bf10de1685a042557ef4ee77.png" alt="Gaming Gear">
                        </span>
                        <a href="#" class="sub">Gaming Gear</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Bàn phím cơ chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím cơ giá rẻ</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Razer</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Logitech</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Corsair</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Fuhlen</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím IKBC</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Leopold</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím E-Dra</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím DareU</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím SteelSeries</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Filco</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Cooler Master</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Ducky</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím Durgod</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím AKKO</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím HyperX</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn phím các hãng khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Chuột chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Razer</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Logitech</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột SteelSeries</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Corsair</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Zowie</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Akko</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột HyperX</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột các hãng khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tai nghe chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Gaming giá rẻ</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Razer</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Kingston HyperX</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe SteelSeries</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Corsair</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Logitech</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe Astro</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai nghe các hãng khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ghế chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế chơi game giá rẻ</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế NOBLECHAIRS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế DXRACER</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế AKRACING</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế ANDA SEAT</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế SOLESEAT</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế NITRO CONCEPT</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế E-DRA</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế CORSAIR</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế WARRIOR</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế MSI</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế VERTAGEAR</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tay cầm chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tay cầm PXN</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tay cầm Logitech</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tay cầm Xbox</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Vô lăng chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Vô lăng PXN</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Vô lăng Logitech</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Bàn di chuột chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn di chuột Razer</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn di chuột SteelSeries</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn di chuột các hãng khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ghế đua xe F1</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy chơi game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy PlayStation 5 (PS5)</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Phụ kiện cho game thủ</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Đồng hồ thông minh</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Apple Watch</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_042bafb1c8ef098b2fb47dee233345ea.png" alt="Game Net">
                        </span>
                        <a href="#" class="sub">Game Net</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Thiết Bị Mạng Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Switch, Modem Game</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phụ Kiện Mạng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Bàn Ghế Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ghế Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn Game Net</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy chủ Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy Chủ Lắp Ráp</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy Chủ Đồng Bộ</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Cấu Hình Phòng Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Cấu Hình Intel</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Cấu Hình AMD</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Phụ Kiện Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn Phím Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Chuột Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tai Nghe Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bàn di chuột Game Net</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Màn hình Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Monitor AOC</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Monitor Viewsonic</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Monitor Dell</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Monitor Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Monitor Samsung</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Gói Lắp Đặt Game Net</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Gói Game Net 20 Máy</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Gói Game Net 40 Máy</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Gói Game Net 60 Máy</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Gói Game Net 80 Máy</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy Tính Tiền Game</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_1073e9906b9dd89e0e453d1bc5ec4212.png" alt="TB văn phòng">
                        </span>
                        <a href="#" class="sub">TB văn phòng</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy in theo hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in HP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Epson</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Canon</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Panasonic</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Fuji Xerox</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Brother</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Samsung</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in Ricoh</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Mực in</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Máy in theo chức năng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in đen trắng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in màu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in đa năng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in kim</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy fax</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Thiết bị văn phòng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy chấm công</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy Fax</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bộ lưu điện UPS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy hủy tài liệu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy Photocopy</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy quét - Scaner</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Điện thoại</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy trợ giảng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Thiết bị siêu thị, cửa hàng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Đầu đọc mã vạch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in mã vạch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy in hóa đơn</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Thiết bị kiểm kho</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy bán hàng POS</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Vật tư & linh kiện thay thế</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy đếm tiền</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy tính tiền siêu thị, cửa hàng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Thiết bị trình chiếu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Giá để máy chiếu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bút trình chiếu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Màn chiếu</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy chiếu vật thể</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Máy chiếu</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Phần mềm</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Antivirus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">MS Office</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">MS Windows</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phần mềm ứng dụng</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_80fc29d6aefc322cceb8fce7a99db34c.png" alt="Thiết bị mạng">
                        </span>
                        <a href="#" class="sub">Thiết bị mạng</a>
                    </div>
                    <div class="menu ">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Draytek Vigor</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Draytek Router</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Draytek Access Point</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Draytek Switch</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phần mềm Draytek</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Mạng không dây</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Thiết bị 3G</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bộ phát sóng không dây</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Card mạng không dây</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Router chuẩn wifi 6 802.11ax</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Mạng có dây</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Thiết bị chia mạng (Switch)</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Card mạng có dây</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Printer server</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Powerline Adapter</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Converter, Module cổng quang</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Thiết bị mạng các hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Ubiquiti</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Linksys</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">TP-Link</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Totolink</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Dlink</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Linh phụ kiện TB mạng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Thiết bị cân bằng tải</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tủ mạng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Cáp mạng, kìm mạng, Tool</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Thiết bị Firewall Fortigate</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_253ba2e2e09d924162a97aabca93b45d.jpg" alt="Camera">
                        </span>
                        <a href="#" class="sub">Camera</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Camera quan sát</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Camera IP</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Camera Home IP</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Camera theo hãng</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Camera KBVision</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Camera Dahua</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Đầu ghi camera</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Camera hành trình</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Ổ cứng Camera</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Gói lắp đặt camera</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_8a7100a2bf10de1685a042557ef4ee77.png" alt="Cooling, tản nhiệt">
                        </span>
                        <a href="#" class="sub">Cooling, tản nhiệt</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tản nước - Watercooling</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Bộ tản nước Custom</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước EKWB</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước Barrow</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước Bykski</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước các hãng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tản nhiệt nước All in One</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước Corsair</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước NZXT</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước DeepCool</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước ID-Cooling</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nước CoolerMaster</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước Xigmatek</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nước Thermaltake</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt nước các hãng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Tản nhiệt khí - Aircooling</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt khí DeepCool</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt khí ID-Cooling</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản khí CoolerMaster</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt khí Gamemax</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt khí Noctua</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản khí Thermalright</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Tản nhiệt khí các hãng</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Linh kiện độ mod Case</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Đèn LED RGB</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Cáp nguồn bọc lưới</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Giá đỡ VGA</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Phụ kiện độ mod khác</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Quạt tản nhiệt</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt Asus</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt NZXT</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt Corsair</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt Thermaltake</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt Cooler Master</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt tản nhiệt Deepcool</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt Xigmatek</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt Gamemax</a></li>
                            <li class="submenu-item"><a href="#" class="sub2">Quạt các hãng</a></li>
                        </ul>
                    </div>
                </li>

                <li class="ul__menu-list">
                    <div class="item">
                        <span class="icon-link">
                            <img src="assets/img/cat_9b0847d775ff7f94b7bab410471d593f.png" alt="Điện lạnh">
                        </span>
                        <a href="#" class="sub">Điện lạnh</a>
                    </div>
                    <div class="menu">
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Điều hòa không khí</a></li>
                        </ul>

                        <ul class="submenu">
                            <li class="submenu-item"><a href="#" class="sub1">Quạt điều hòa</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>