<div>
    <div class="container">
        <div class="register-title">
            <div class="title-box-center wow ">
                <h2 class="h-title"> Đăng Kys </h2>
            </div>
        </div>
        <div id="register">
            <div class="register-lerft col-sm-2">
                <p>Địa chỉ Email</p>
                <p>Mật khẩu</p>
                <p>Nhập lại mật khẩu</p>
                <p>Họ và tên</p>
                <p> Giới tính</p>
                <p>Tỉnh thành phố</p>
                <p>Điện thoại di động</p>
            </div>
            <div class="register-right col-sm-8">
                <input type="text" required />
                <input type="password" required />
                <input type="password" required />
                <input type="text" required />
                <input type="checkbox" />
                <input type="text" />
                <input type="number" />
            </div>
        </div>
    </div>
</div> 