<div>
    <div class="container">
        <div class="register-title">
            <div class="title-box-center wow ">
                <h2 class="h-title"> Đăng Ký </h2>
            </div>
        </div>
        <div id="register">
            <div class="register-lerft col-sm-2">
                <p>Địa chỉ Email</p>
                <p>Mật khẩu</p>
                <p>Nhập lại mật khẩu</p>
                <p>Họ và tên</p>
                <p> Giưới tính</p>
                <p>Tỉnh thành phố</p>
                <p>Điện thoại di động</p>
            </div>
            <div class="register-right col-sm-8">
                <div class="input">
                    <input type="text" required />
                    <span class="star">*</span>
                </div>
                <div class="input">
                    <input type="password" required />
                    <span class="star">*</span>
                </div>
                <div class="input">
                    <input type="password" required />
                    <span class="star">*</span>
                </div>
                <div class="input">
                    <input type="text" required />
                    <span class="star">*</span>
                </div>
                <div class="input">
                    <input type="radio" id="nam" name="gioitinh">
                    <p for="Nam">Nam</p>
                    <input type="radio" id="Nu" name="gioitinh">
                    <p for="Nữ">Nữ</p>

                </div>
                <div class="input">
                    <input type="text" />
                </div>
                <div class="input">
                    <input type="number"></input>
                </div>
                <div class="but-login">
                    <p style="font-size:18px;">(*) là thông tin bắt buộc</p>
                    <input type="submit" value="Đăng Ký" class="but-red" />
                </div>
            </div>
        </div>
    </div>
</div> 