<div class="container">
    <div class="header">
        <div class="slider">
            <div class="anh-slide">
                <div class="_1slide active"><img src="~/Images/Slide/1.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/2.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/3.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/4.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/2.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/5.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/2.jpg" alt="anh1"></div>
                <div class="_1slide"><img src="~/Images/Slide/5.jpg" alt="anh1"></div>
            </div>
            <div class="nut-slide">
                <div class="next"><img src="~/Images/Slide/next.png" alt="" height="50px"></div>
                <div class="prev"><img src="~/Images/Slide/back.png" alt="" height="50px"></div>
                <div class="">
                    <ul class="chuyen-slide">
                        <li class="do">SAMSUNG</li>
                        <li class="">DELL</li>
                        <li class="">ASUS</li>
                        <li class="">LENOVO</li>
                        <li>Khuyến Mãi</li>
                        <li>Màn Hình ASUS</li>
                        <li>Màn Hình SamSung</li>
                        <li>Khuyến mãi ASUS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <img src="~/Images/Slide/ben_phai.jpg" alt="">
            </div>
            <div>
                <img src="~/Images/Slide/ben_phai1.jpg" alt="" width="80px">
            </div>
            <div>
                <img src="~/Images/Slide/ben_phai2.jpg" alt="" width="80px">
            </div>
            <div>
                <img src="~/Images/Slide/ben_phai3.jpg" alt="" width="80px">
            </div>
        </div>
    </div>
</div>