<!--Header-->
<div>
    <a>
        <img src="~/Images/HeaderImg/imgbannertop.png" alt="imgbanner" style="width:100%" />
    </a>
</div>
<div class="navtop" id="navtop">
    <nav class="navtop_list">
        <div class="navtop_list-item">
            <ul class="navtop_item">
                <li class="nav-item" onmouseover="bigImg(dropdownctn)" onmouseout="normalImg(dropdownctn)">
                    <span class="header__navbar-pulse1"></span>
                    <a class="nav-link" href="#">
                    <img class="nav-img " src="~/Images/HeaderImg/lien-he.png"/>TƯ VẤN BÁN HÀNG
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"><img class="nav-img" src="~/Images/HeaderImg/chinhhang.png"/>HÀNG CHÍNH HÃNG</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"><img class="nav-img" src="~/Images/HeaderImg/doitra.png"/>ĐỔI TRẢ MIỄN PHÍ</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"><img class="nav-img" src="~/Images/HeaderImg/vanchuyen.png" />MIỄN PHÍ VẬN CHUYỂN</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"><img class="nav-img" src="~/Images/HeaderImg/hoadon.png" /> IN HÓA ĐƠN ĐIỆN TỬ</a>
                </li>
            </ul>
        </div>
        <div class="">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Đăng Ký", "Register", "Home")</div>
                </li>

                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Đăng Nhập", "Login", "Home")</div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="dropdownctn" onmouseover="bigImg(dropdownctn)" onmouseout="normalImg(dropdownctn)" style="margin-left:20%">
        <div>
            <table class="table table-bordered " style="text-align:center;">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Khách hàng Online</th>
                        <th scope="col" colspan="2">Khách hàng Doanh nghiệp- Dự án</th>
                        <th scope="col" colspan="2">Khách hàng Showroom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Hà Nội</th>
                        <th>TP.HCM</th>
                        <th>HN</th>
                        <th>TP.HCM</th>
                        <th>HN</th>
                        <th>TP.HCM</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"><i class="fab fa-twitter-square"></i> Ms Thủy - 0946.281.218</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Công - 0936.021.377</td>
                        <td><i class="fab fa-twitter-square"></i> Ms Thu - 0906.102.636</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Tùng - 0387.577.370</td>
                        <th> 49 Thái Hà</th>
                        <th> 141 CHiến Thắng</th>
                    </tr>
                    <tr>
                        <td scope="row"><i class="fab fa-twitter-square"></i> Ms Trang - 0985.267.647</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Phương - 0968.539.651</td>
                        <td></td>
                        <td><i class="fab fa-twitter-square"></i> Mr Tùng - 0387.577.370</td>
                        <td><i class="fab fa-twitter-square"></i> Ms Hương - 0943.098.988</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Đạt - 0966.858.819</td>
                    </tr>
                    <tr>
                        <td scope="row"><i class="fab fa-twitter-square"></i> Ms Thủy - 0946.281.218</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Công - 0936.021.377</td>
                        <td></td>
                        <td><i class="fab fa-twitter-square"></i> Mr Tùng - 0387.577.370</td>
                        <td><i class="fab fa-twitter-square"></i> Ms Hương - 0943.098.988</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Đạt - 0966.858.819</td>
                    </tr>
                    <tr>
                        <td scope="row"><i class="fab fa-twitter-square"></i> Ms Thủy - 0946.281.218</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Công - 0936.021.377</td>
                        <td></td>
                        <td><i class="fab fa-twitter-square"></i> Mr Tùng - 0387.577.370</td>
                        <th> Thọ Tháp</th>
                        <th> Trái Đất</th>
                    </tr>
                    <tr>
                        <td scope="row"><i class="fab fa-twitter-square"></i> Ms Thủy - 0946.281.218</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Công - 0936.021.377</td>
                        <td></td>
                        <td><i class="fab fa-twitter-square"></i> Mr Tùng - 0387.577.370</td>
                        <td><i class="fab fa-twitter-square"></i> Ms Hương - 0943.098.988</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Đạt - 0966.858.819</td>
                    </tr>
                    <tr>
                        <td scope="row"><i class="fab fa-twitter-square"></i> Ms Thủy - 0946.281.218</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Công - 0936.021.377</td>
                        <td></td>
                        <td><i class="fab fa-twitter-square"></i> Mr Tùng - 0387.577.370</td>
                        <td><i class="fab fa-twitter-square"></i> Ms Hương - 0943.098.988</td>
                        <td><i class="fab fa-twitter-square"></i> Mr Đạt - 0966.858.819</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--END HEADER-->
<div class="header_logo">
    <div class="container_logo">
        <div>
            <a href="@Url.Action("Index", "Home")" title="List View">
                <img src="@Url.Content("~/Images/HeaderImg/anphatpc.png")">
            </a>
        </div>
        <div id="#search">
            <form action="">
                <select name="scat_id">
                    <option value="">Tất cả danh mục</option>

                    <option value="395">Máy tính xách tay - Laptop</option>

                    <option value="394">Máy tính - Máy chủ</option>

                    <option value="1253">Linh kiện máy tính</option>

                    <option value="1052">Màn hình Máy Tính</option>

                    <option value="393">TB lưu trữ, nghe nhìn</option>

                    <option value="1255">Gaming Gear</option>

                    <option value="1321">GameNet</option>

                    <option value="400">TB văn phòng</option>

                    <option value="399">Thiết bị mạng</option>

                    <option value="1214">Camera</option>

                    <option value="397">Cooling, Tản nhiệt</option>

                    <option value="1814">Điện lạnh</option>

                </select>
                <input type="text" class="text" id="text-search" name="q" placeholder="Bạn tìm gì..." autocomplete="off">
                <div class="but-search">
                    <img src="~/Images/HeaderImg/search.png" alt="search">
                </div>
            </form>
        </div>
        <div id="header-right">
            <a href="#">
                <div class="icon-header">
                    <img src="~/Images/HeaderImg/tra-gop.png" alt="trả góp">
                </div>
                <b>Trả góp 0%</b>
            </a>
            <a href="#" id="tintuc">
                <div class="icon-header">
                    <img src="~/Images/HeaderImg/tin-tuc.png" alt="tin tức">
                </div>
                <b>Tin Tức</b>
            </a>
            <a href="#">
                <div class="icon-header">
                    <img src="~/Images/HeaderImg/xay-dung.png" alt="xây dựng pc">
                </div>
                <b>Xây dựng PC</b>
            </a>
            <a href="#">
                <div class="icon-header">
                    <img src="~/Images/HeaderImg/flash-sale.png" class="icon-header" alt="flash sale">
                </div>
                <b>Flash sale</b>
            </a>
        </div>
    </div>
</div>
<!--END HEADER-->

<!--JS MAIN-->
<script>
    function bigImg(x) {
        x.style.display = "inline-block";
    }
    function normalImg(x) {
        x.style.display = "none";
    }
</script>
<!--END JS-->