<div id="fixed-banner">
    <a href="#" class="fixed-left">
       <img src="~/Images/HeaderImg/10_Aug4313ee7544c2117da11669f735c6d1ea.png" />
    </a>
    <a href="#" class="fixed-right">
        <img src="~/Images/HeaderImg/19_Aug19658737dc0c64132deeb1063d7e894b.png" />
    </a>
</div>
<a id="fixed-cart">
    <b id="count-shoping-cart">0</b>
    <i class="cart-img">
        <img src="~/Images/HeaderImg/giohang.png" alt="gio hang" />
    </i>
</a>