<div class="container">
    <div class="container4">
        <div class="title4">
            Liên hệ với An Phát Computer
            <div class=" arrow-right"></div>
        </div>
        <div class="marquee">
            <marquee onmouseover="stop()" onmouseout="start()">
                Showroom 49 Thái Hà - Đống Đa - Hà Nội - Hotline: 0918.557.006 (8:30 - 21:00) - Email: Hoangphuong@anphatpc.com.vn
                Showroom 84T/14 Trần Đình Xu - P. Cô Giang - Q.1 - Hotline: 0918.858.797 - Email: thaohtt@anphatpc.com.vn
                Chi nhánh 151 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội - Hotline: 1900.0323 phím 4
                Chi nhánh 158 - 160 Lý Thường Kiệt - Q.10- TPHCM - Hotline: 1900.0323 phím 2
            </marquee>
        </div>
    </div>
</div>